@inject IUsuarioServiceBLL _iUsuarioServiceBLL;

<div class="modal fade show" id="myModal" tabindex="-1" style="display:block; overflow-y: auto; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <div class="mb-3 card main-card">
                    <div class="card-header text-center" style="display: grid !important;">
                        Crear Usuario
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <EditForm Model="usuarioRequest" OnValidSubmit="GuardarUsuario">
                                    <DataAnnotationsValidator />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <label for="sel1">(*) Usuario:</label>
                                                <InputText class="form-control" @bind-Value="usuarioRequest.Usuario1"></InputText>
                                                <ValidationMessage For="(()=> usuarioRequest.Usuario1)"></ValidationMessage>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <label for="sel1">(*) Password:</label>
                                                <InputText class="form-control" type="password" @bind-Value="usuarioRequest.Pass"></InputText>
                                                <ValidationMessage For="(()=> usuarioRequest.Pass)"></ValidationMessage>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button class="mb-2 mr-2 btn-pill btn btn-success" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>